
   body {background-color: #c2e69a;
       text-align:center;} 
  h1, h2 {	
       color: #77df80;
   }
  h1 {
     font-size: 1.5em;
  }
  h2 {
     font-family: Verdana, Geneva, sans-serif;
     font-size: 1em;
  }
